<% layout("/layouts/boilerplate") %>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
            <br> <br>
            <h3>create a new listing</h3>
            
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" placeholder="Enter title" name="listing[title]" class="form-control" required>
                <div class="valid-feedback">looks good</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <textarea placeholder="Enter description" name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a short description</div>
            </div>
            <!-- <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" placeholder="Enter image url/link" name="listing[image]" class="form-control">
            </div> -->
            <div class="mb-3">
                <label for="image" class="form-label">upload listing image</label>
                <input type="file" name="listing[image]" class="form-control" required>
            </div>
            <div class="row">
                <div class="mb-3 col-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" placeholder="1200" name="listing[price]" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid price</div>
                </div>
                <div class="mb-3 col-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" placeholder="India" name="listing[country]" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid country name</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" placeholder="Ananthapur" name="listing[location]" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid location</div>
            </div> 
            <button class="btn btn-dark add-btn mt-3">ADD</button>
            <br>
            <br/>
        </form>
    </div>
    </div>
</body>
